#table-index th {
    font-size: 1.2rem;
    text-align: center;
}

#table-index td {
    font-size: 1rem;
}

main {
    margin-top: 50px;
}

main hr {
    margin-bottom: 50px;
}

main h2 {
    background-color: #28A745;
    padding: 15px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

main p {
    font-size: 1rem;
    line-height: 2;
}

main ul li {
    font-size: 1rem;
    line-height: 2;
}