.row {
    margin: 0 20px;
}

.row h2 {
    width: 100%;
    margin: 30px auto;
    background-color: #28A745;
    text-align: center;
    padding: 20px;
    color: white;
}

.row ul {
    line-height: 1.5;
}

#link-whatsapp {
    width: 50px;
    height: 50px;
    background-image: url('../imagens/whatsapp-logo-1.png');
    background-size: cover;
    position: absolute;
    position: fixed;
    bottom: 15px;
    right: 20px;

    display: none;
}

#bgFusex {
    width: 100%;
    
    margin-bottom: 30px;
}

.buttons {
    width: 90vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table-index th {
    font-size: 1.2rem;
    text-align: center;
}

#table-index td {
    font-size: 1rem;
}

.informacoes {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.informacoes a {
    text-decoration: none;
}

.informacoes a p {
    background-color: #28A745;
    padding: 20px 0;
    border: 1px solid black;
    color: white;
    padding: 10px;
}

.informacoes a p:hover {
    background-color: #196e2d;
}

main {
    margin-top: 30px;
}

main hr {
    margin-bottom: 30px;
}

main h2 {
    background-color: #28A745;
    padding: 15px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

main p {
    font-size: 1rem;
    line-height: 2;
}

main ul li {
    font-size: 1rem;
    line-height: 2;
}

/* Responsivo */

@media screen and (max-width: 425px){
    

    .row h2 {
        font-size: 1rem;
    }

    .row ul {
        font-size: .8rem;
    }
    
    #table-index thead tr th {
        padding: 5px 30px ;
    }
    
    #table-index th {
        font-size: .8rem;
    }

    #table-index #horario {
        width: 40vw;
    }

    #table-index td {
        font-size: .7rem;
        width: 150px;
    }

    .informacoes a p {
        font-size: .8rem;
    }

    main {
        margin: 0;
    }

    main h2 {
        font-size: .8rem;
    }

    main p {
        font-size: .7rem;
    }

    main ul li {
        font-size: .7rem;
    }
}